{{!-- silence is golden --}}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="canvasParent"></div>
    </div>
    <div class="col-sm-3">

      <div class="tools bg-light p-3 mt-3 border border-primary rounded">
        <h3>tools</h3>
        <a class="btn btn-default" href="/">reload</a>
        <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">feature</th>
            <th scope="col">value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>hash:</td>
            <td id="hash"></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>